*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bacgroundClr:rgb(232, 253, 233);
    --border:rgb(5, 161, 44);
    --text:rgb(122, 121, 121);
    --textHover:rgb(63, 62, 62);
    --radious:7px;
    --transition: all 0.3s ease-in-out;
}

html{
    min-width: 100%;
    min-height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.center{
    height: 350px;
    max-width: 80vw;
    min-width: 500px;
    max-height: 500px;
    margin-top: 100px;
}

.image-section{
    display: flex;
    position: relative;
    min-width: 500px;
    max-width: 1600px;
    max-height: 350px;
    border: 7px solid var(--border);
    border-radius: var(--radious);
    overflow: hidden;
    
}

.single-image{
    position: relative;
    min-width: 500px;
    max-width: 1600px;
    height: 336px;
    display: flex;
    object-fit: fill;
    flex-direction: row;
    transform: translateX(0%);
}

img{
    min-width: 100%;
    object-fit: fill;
   
}

.btns-section{
    display: flex;
    justify-content: center;
    margin: 25px;
    gap: 20px;
    flex-direction: row-reverse;
}

.btn{
    border: none;
    background: none;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--text);
}

.btn:hover{
    color: var(--textHover);
    cursor: pointer;
}

.hidden{
    display: none;
}



